name: Build and Publish Wheel for DeepSpeed

on:
  push:
    tags:
      - 'deepspeed-*'

jobs:
  build-and-release:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [3.11.8]

    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Clone DeepSpeed repository
      run: git clone --depth 1 --branch v0.11.2 https://github.com/microsoft/DeepSpeed.git

    - name: Modify DeepSpeed setup files
      run: |
        cd deepspeed
        git apply --whitespace=fix ../patches/deepspeed/deepspeed-win.patch

    - name: Install Visual C++ Build Tools
      run: |
        choco install visualcpp-build-tools -y

    - uses: Jimver/cuda-toolkit@v0.2.11
      id: cuda-toolkit
      with:
        cuda: '12.1.0'

    - name: Install dependencies
      run: |
        pip install torch==2.2.1 --index-url https://download.pytorch.org/whl/cu121

    - name: Install Setup Tools and Dependencies
      run: |
        pip install setuptools wheel numpy

    - name: Build DeepSpeed
      run: |
        cd deepspeed
        ./build_win.bat

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        draft: true
        files: deepspeed/dist/*.whl